@model IEnumerable<Project1.Models.Enrollment>;

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align:center">Enrollment List</h1>

<style>

table{
    margin-left: auto;
    margin-right: auto;
}
table,th,td{

    align-content:center;
    border: 1px solid black;
}
/*.link-button{

  font: bold 14px helvatica;
  text-decoration: none;
  background-color: #0A76CA;
  color: #EEEEEE;
  padding: 4px 8px 4px 8px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #0A76CA;
  border-bottom: 1px solid #0A76CA;
  border-left: 1px solid #CCCCCC;
}
.link-button:hover{
    font: bold 14px helvatica;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #0A76CA;
    padding: 4px 8px 4px 8px;
    border-top: 1px solid #0A76CA;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #0A76CA;
}
*/


</style>

<br />
<table  cellpadding="10">
    <tr>
        <th>Enroll ID</th>
        <th>Email</th>
        <th>Course ID</th>
        <th>Enroll Date</th>
    </tr>
    @{
        foreach (var enroll in Model)
        {
                    <tr>
                        <td>@enroll.enrollmentID</td>
                        <td>@enroll.email</td>
                        <td>@enroll.courseID</td>
                        <td>@enroll.enrollDate</td>
                    </tr>
        }
            <div  style="text-align:center">
                  <!--  <a class="btn btn-primary py-2 px-4 d-none d-lg-block"  asp-action="AddEnrollment" >AddEnrollment</a> -->   
                <a class="btn btn-primary py-2 px-4 d-none d-lg-block" asp-page="/CourseID_input">Details: Course ID</a> 
                
            </div>

    }
</table>